body{
  background-color: chocolate;
}

.Colors{
    background-color: burlywood;
    margin: 1em;
    flex:1
}

@media(min-width:960px){
    .Prince{
        display: flex;
    }
}
img{
    margin: 1em;
}
.Chauke{
    margin-left: 2em;
}
ol,ul{
    margin-left: 2em;
}
